# LinkPulse - Environment Variables

# Python Shortener Service
SHORTENER_PORT=8001
SHORTENER_HOST=0.0.0.0
ANALYTICS_URL=http://analytics:8002

# Go Analytics Service
ANALYTICS_PORT=8002
ANALYTICS_HOST=0.0.0.0

# TypeScript Gateway Service
GATEWAY_PORT=8003
SHORTENER_URL=http://shortener:8001
# ANALYTICS_URL is shared with shortener config above
